html {
  background-color: #fefefe;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 2em;
}

div:empty { display: none }

a, a:visited, a:active {
  /* color: #444; */
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 131, 255)
}

/* for highlighting words: */
markleft {
  background-color: lightcoral;
  color: black;
}

markright {
  background-color: lightblue;
  color: black;
}

p {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}

h1 {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 4em;
  line-height: 85%;
  margin: 0.25em 0 0.5em 0;
}

h2 {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin: 0.5em 0 1em 0;
}

h3 {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

.subtitle {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  margin: 0.5em 0 0.5em 0;
  font-weight: 700;
}

.byline {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 75%;
  margin: 1.25em 0 0.5em 0;
  font-weight: 700;
}

.row.narrow {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em 1.5em 0 1.5em;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 1.5em;
  position: relative;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 1.75rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}
blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #000000;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row:empty { 
  display: none;
}

.column {
  float: left;
  width: 50%;
}

.column:empty { 
  display: none;
}



.container {
  max-width: 900px;
  margin: auto;
}

/* .container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
} */

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

.button.active {
  background: #000;
  color: #fff;
}


#vis {
  width: auto; /* was 900px */
  height: auto;
  clear: both;
  margin-bottom: 1px;
  /* font-family: 'Work Sans' */
}

#quotes {
  width: auto; /* was 900px */
  height: auto;
  clear: both;
  margin-bottom: 5px;
}

#toolbar {
  margin-top: 10px;
}

.year {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  /* margin: 0.5em 0 1em 0; */
  fill: #000000; /* was #aaa */
  cursor: default;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

.footer {
  text-align: center;
  height: 32px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
  padding: 8px;
}

.ydn-logo {
  width: 50%;
  max-width: 300px;
  display: block;
  margin: 1em auto;
}

/* .header-img {
  width: 100%;
  object-fit: cover;
} */

.about {
  background-color: #f2f2f2;
  padding: 0.5em 1.75em;
  margin-bottom: 2em;
  font-size: 100%;
}